.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms;

  &--is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $iming-function;

  .backdrop--is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.popup__close-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $white-color;
  color: #000;

  transition: color 250ms $timing-function;

  &:hover {
    color: $accent-color;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $white-color;
  color: #000;

  transition: color 250ms $timing-function;
}

.close-btn:hover {
  color: $accent-color;
}

.modal .icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.section-form {
  padding: 40px;
}

.section-form .title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $primary-text;
}

.form-label.policy {
  display: flex;
  margin-bottom: 0;

  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text;
}

.checkbox {
  /* --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;

  position: absolute; */
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox:checked + .checkbox-icon {
  background-color: $accent-color;
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
  border-color: $accent-color;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text;
  border-radius: 2px;
  margin-right: 9px;
}

.policy-link {
  color: $accent-color;
}

.policy-link:hover {
  text-decoration: none;
}

.form-input {
  cursor: pointer;
  margin: 0;
  padding: 14px 15px 14px 42px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;

  transition: border 250ms $timing-function;
}

/* .form-input:hover, */
.form-input:focus {
  border: 1px solid $accent-color;
}

.form-icon {
  position: absolute;
  bottom: 20px;
  left: 15px;
  width: 18px;
  height: 18px;
  /* background-color: var(--accent-color); */

  fill: var(--title-text-color);

  transform: translateY(50%);
  transition: fill 250ms var(--timing-function);
}

/* .form-input:hover + .form-icon, */
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.comment {
  margin: 0;
  padding: 12px 16px 12px 16px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  resize: none;
  transition: border 250ms var(--timing-function);
}

/* .comment:hover, */
.comment:focus {
  border: 1px solid var(--accent-color);
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field-checkbox {
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.send-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
