.footer {
  background: #2f303a;
  padding: 60px 0;

  &__container {
    @include media-min($tablet) {
      display: flex;
      flex-wrap: wrap;
    }
    @include media-min($desktop) {
      flex-wrap: nowrap;
    }
  }

  &__col-contact {
    @include media-min($desktop) {
      margin-right: 70px;
    }
  }

  &__col-social {
    @include media-min($desktop) {
      margin-right: 93px;
    }
  }

  &__title {
    margin-bottom: 20px;
    padding-top: 12px;
    display: block;

    color: $white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__col-mailing {
    @include media-min($desktop) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

/*--------------- Contact footer --------------- */
.contact {
  &__list {
    @include media-min($desktop) {
      display: flex;
      flex-direction: column;
      width: 231px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contact__link {
  color: rgba($white-color, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms $timing-function;

  &--white {
    color: $white-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
